# Notification Token
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
DISCORD_WEBHOOK_URL=

# Fetch Interval
FUEL_CRON_HOURS=8,12,20,21,22
FUEL_CRON_MINUTE=5
GOLD_INTRADAY_MINUTES=5
GOLD_HISTORY_HOURS=1
