@import url(/static/styles.css);

.card {
  width: 300px;
  height: 510px;
  box-sizing: border-box;
}

.prices {
  display: flex;
  flex-direction: column;
  gap: 18px;
}


.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #1f1f1f;
}

.row:last-child {
  border-bottom: none;
}

.label {
  font-size: 15px;
  letter-spacing: -0.5px;
  color: hsl(240, calc(8% * 1), calc(1 * 85%));
  box-sizing: border-box;
  display: block;
}

.value {
  font-size: 15px;
  letter-spacing: -1px;
  font-weight: 400;
  color: #d9c38c;
  text-align: justify;
  overflow-wrap: break-word;
  margin-left: auto;
}

.empty {
  margin-top: 40px;
  text-align: center;
  font-size: 13px;
  color: #c4d3dc;
  opacity: 0.6;
}
