* {
  box-sizing: border-box;
  font-family: 'JetBrains Mono', monospace;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: transparent;
}

.card {
  background: rgba(21, 21, 25, 1);
  border-radius: 0px;
  padding: 12px 16px;
  width: 100%;
  height: 100%;          /* critical */
  box-shadow: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 10px;
  color: #c4d3dc;
  font-size: 14px;
  font-weight: 100;
}

.header .sub {
  font-size: 14px;
  color: #c4d3dc;
  padding-right: 240px;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 13px;
}

thead th {
  text-align: left;
  color: #d9c38c;
  padding-bottom: 10px;
  border-bottom: 1px solid #2a2a2a;
}

tbody tr {
  border-bottom: 1px solid #1f1f1f;
}

tbody tr:last-child {
  border-bottom: none;
}

td {
  padding: 10px 0;
  color: #c4d3dc
}

.price {
  font-family: 'JetBrains Mono', monospace;
  text-align: right;
}

.time {
  font-size: 13px;
  color: #c4d3dc;
}
