* {
  box-sizing: border-box;
  font-family: 'JetBrains Mono', monospace;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: transparent;
}

.card {
  background: rgba(21, 21, 25, 1);
  border-radius: 0px;
  padding: 12px 16px;
  width: 100%;
  height: 100%;          /* critical */
  border-radius: 5px;
  border: 1px solid hsl(var(--bghs), calc(var(--scheme)(var(--scheme) var(--bgl) + 4%)));
  box-shadow: 0px 3px 0px 0px hsl(var(--bghs), calc(var(--scheme)(var(--scheme) var(--bgl)) - 0.5%));
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 30px;
  color: #c4d3dc;
  font-size: 14px;
  font-weight: 100;
}

.header .sub {
  font-size: 14px;
  color: #c4d3dc;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 13px;
}

thead th {
  text-align: left;
  color: #d9c38c;
  padding-bottom: 10px;
  border-bottom: 1px solid #2a2a2a;
  width: 90%;
}

.thsth {
  width: 10%;
  text-align: center;
}

tbody tr {
  border-bottom: 1px solid #1f1f1f;
}

tbody tr:last-child {
  border-bottom: none;
}

td {
  padding: 5px 0;
  color: #c4d3dc
}

.price {
  font-family: 'JetBrains Mono', monospace;
  text-align-last: justify;
}

.time {
  font-size: 13px;
  color: #c4d3dc;
}

.group-row td {
  padding-top: 10px;
  font-weight: 800;
  color: #d9c38c;
  border-bottom: none;
}

.delta {
  margin-left: 6px;
  font-size: 0.9em;
  cursor: default;
}

.delta.up {
  color: #d32f2f; /* red */
}

.delta.down {
  color: #2e7d32; /* green */
}

.delta.same {
  color: #9e9e9e;
}
.delta.hidden {
  display: none;
}