<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8" />
  <title>Gold Price</title>
  <link rel="stylesheet" href="/static/gold.css" />
</head>
<body>
  <div class="card">
    {% if current %}
      <div class="row buy">
        <span class="label">Buy</span>
        <span class="value">Rp {{ "{:,}".format(current[2]).replace(",", ".") }}</span>
      </div>

      <div class="row sell">
        <span class="label">Sell</span>
        <span class="value">Rp {{ "{:,}".format(current[1]).replace(",", ".") }}</span>
      </div>
    </div>
    {% else %}
    <div class="empty">No gold data available.</div>
    {% endif %}
  </div>
</body>
</html>
