<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8" />
  <title>Fuel Price - Jawa Tengah</title>
  <link rel="icon" href="https://freepnglogo.com/images/all_img/1706437879pertamina-icon-png.png" />
  <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
  <div class="card">
    <div class="header">
      <span>Fuel Price - Jawa Tengah</span>
      <span class="sub">Last Update: {{ prices[0].fetched_at if prices }}</span>
    </div>

    <table>
      <thead>
        <tr>
          <th>Fuel Type</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        {% for row in prices %}
        <tr>
          <td>{{ row.fuel_type }}</td>
          <td class="price">Rp {{ "{:,}".format(row.price).replace(",", ".") }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>
</html>
